.text-center{
	background-image: url("https://images.pexels.com/photos/167681/pexels-photo-167681.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 100% 100%;
	
}
.card-footer{
	text-align: center;
}
.card-title{
	margin-left: 20px;
	font-family:'Montserrat', sans-serif;
	font:bold;
	color: #3498db;
}
.cardbody{
	width: 80%;
	margin-left: 10%;
	height: 50%;
	margin-top:4%; 

}

